@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-work: "Work Sans", sans-serif;

  --color-bgPrimary: #ffffff;
  --color-bgSecondary: #fff4e7;

  --color-textPrimary: #131313;

  --color-thirdBg: #ff900e;
}
:root {
  font-family: var(--font-work);

  color: var(--color-TextPrimary);
  background-color: var(--color-bgPrimary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
